#portrait-bg{
    height:250px;
    object-fit:none;
}

a{
    font-size:var(--md);
}

p{
    font-size:var(--md);
}

h2{
    font-size:var(--lg);
}

.card__title{
    font-size:var(--lg);
}

.profile__description{
    margin-left:150px;
}

.profile__description .logo-container
{
    display:inline-block;
    margin-left:calc(50% - 140px);
}

#slider{
    height:auto;
}
