nav ul:nth-child(1){
    margin-left:118px;
}

.card{
    margin:30px 62px 0;
    padding:0;
}

#portrait-bg{
    height:200px;
}

.profile__picture{
    top:34%;
}

.section-contact .logo-container{
    margin-left:150px;
}
